.profile{
    text-align: center;
    color: #ffffff;
    transform: translateY(-50%);
    h2{
        font-weight: 300;
        color: #ffffffb4;
    }

    button{
        animation: none;
    }
}

